* {
  margin: 0;
  box-sizing: border-box;
}
/*.main:nth-of-type(1) {
  /*margin: auto;*/
/* width: 400px;
  height: 500px;
  background-color: #8a2be2;
  padding: 20px; 
}
/*.main:nth-of-type(2) {
  /*margin: auto;*/
/* width: 400px;
  height: 500px;
  background-color: #e22b49;
}
.main {
  /*margin: auto;*/
/*width: 400px;
  height: 500px;
  background-color: #8a2be2;
}  */
.main {
  /*margin: auto;*/
  width: 300px;
  height: 200px;
  background-color: #0000ff;
  padding: 20px;
  overflow: hidden;
  display: inline-block;
}
/*display:block;defaultna vrednost*/
/*display:inline;ako je display inline onda gubimo mogucnost definisanja odredjenih stilova,
kao sto su sirina,visina,margina,padding itd*/
.main:nth-of-type(2) {
  /*margin: auto;*/
  width: 300px;
  height: 200px;
  background-color: #ff0080;
  padding: 20px;
  overflow: hidden;
  display: none;
}
.main:nth-of-type(3) {
  /*margin: auto;*/
  width: 300px;
  height: 200px;
  background-color: #a6ff00;
  padding: 20px;
  overflow: hidden;
  display: inline-block;
}
.main p{
    line height: 25px;
}
.second {
    margin: auto;
    width: 600px;
    height: 500px;
    background-image: url(./city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
