* {
  margin: 0;
  box-sizing: border-box;
}
.parent {
  width: 600px;
  height: 500px;
  position: relative;
  background-color: chartreuse;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  position: relative;
  top: 150px;
  left: 200px;

  z-index: 100;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: rgb(43, 70, 226);
  position: relative;
  left: 250px;
  top: 100px;
  z-index: 200;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(43, 226, 104);
  position: relative;
  left: 300px;
  top: 50px;
  z-index: 300;
}
