* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
header {
  width: 100%;
  height: 100px;
  background-color: rgb(12, 12, 143);
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  position: relative;
  /* left: 50%; */
  top: 2rem;
  font-size: 23px;
  gap: 3rem;
  list-style-type: none;
}
.links a {
  color: #ffff;
  text-decoration: none;
}

header h2 {
  position: relative;
  /* left: 15%; */
  top: 1.5rem;
  font-size: 35px;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}
.cards {
  background-color: #ffff;
  width: 50%;
  height: 50%;
  /* float: left; */
}
.box1 {
  width: 15rem;
  height: 15rem;
  background-color: rgba(135, 135, 175);
  box-shadow: 20px;
  position: relative;
  top: 2rem;
  left: 5rem;
}
.box2 {
  width: 15rem;
  height: 15rem;
  background-color: rgb(135, 135, 175);
  box-shadow: 20px;
  position: relative;
  top: -10rem;
  left: 22rem;
}
.box3 {
  width: 15rem;
  height: 15rem;
  background-color: rgb(135, 135, 175);
  box-shadow: 20px;
  position: relative;
  top: -10rem;
  left: 5rem;
}
.box4 {
  width: 15rem;
  height: 15rem;
  background-color: rgb(135, 135, 175);
  box-shadow: 20px;
  position: absolute;
  top: 30rem;
  left: 22rem;
}
.main p {
  text-align: center;
  padding: 8px;
}
.main h3 {
  text-align: center;
  padding: 15px;
}
.main img {
  float: right;
  width: 50%;
  height: 50%;
}

.links button {
  position: relative;
  bottom: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: blue;
  background-color: #ffff;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.801);
}

#icon {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.white {
  width: 100px;
  height: 100px;
  background-color: #ffff;
  border-radius: 50px;
  position: relative;
  top: 15px;
  left: 15px;
}
.black {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50px;
  position: relative;
  left: 1220px;
  bottom: 85px;
}
footer:hover .black {
  animation: right-to-left 1s ease-in-out forwards 3 alternate;
}
@keyframes right-to-left {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(-1200px);
  }
}
footer:hover .white {
  animation: left-to-right 1s ease-in-out forwards 3 alternate;
}
@keyframes left-to-right {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(1200px);
  }
}
