* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
}
.main {
  margin: auto;
  width: 75%;
  height: 550px;
  background-color: cyan;
  /*flex-direction:row;defoltna vrednost*/
  display: flex;
  flex-direction: column;
  /*horizontalno poravnjanje ce sada biti*/
  align-items: center;
}

.box1 {
  width: 150px;
  height: 150px;
  background-color: brown;
  align-self: flex-start;
}
.box2 {
  width: 150px;
  height: 150px;
  background-color: rgb(124, 202, 21);
  display: flex;
}
.box3 {
  width: 150px;
  height: 150px;
  background-color: rgb(52, 11, 128);
  align-self: flex-end;
}
