.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: black;
}

.myDIV {
  width: 150px;
  height: 160px;
  border: 3px solid rgb(5, 5, 182, 0.788);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 20px 30px 40px;
  background-color: rgba(5, 5, 182, 0.788);
}

.first {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.letterh {
  text-align: 1;
  margin: -15px;
  font-size: 120px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.element {
  text-align: center;
  margin: 15px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hide {
  width: 250px;
  height: 230px;
  border: 3px solid rgba(214, 14, 14, 0.788);
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hide2 {
  display: none;
}

.myDIV2:hover + .hide2 {
  display: block;
  color: black;
}

.myDIV2 {
  width: 150px;
  height: 160px;
  border: 3px solid rgb(216, 170, 84);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 20px 30px 40px;
  background-color: #dfaf56;
  margin-left: 1150px;
  margin-top: -220px;
}

.first {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.letterh {
  text-align: 1;
  margin: -15px;
  font-size: 120px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.element {
  text-align: center;
  margin: 15px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hide2 {
  width: 250px;
  height: 230px;
  border: 3px solid rgba(214, 14, 14, 0.788);
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 1100px;
}
.hide3 {
  display: none;
}

.myDIV3:hover + .hide3 {
  display: block;
  color: black;
}

.myDIV3 {
  width: 150px;
  height: 160px;
  border: 3px solid rgb(235, 114, 208);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 20px 30px 40px;
  background-color: #d410ba;
}

.first {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.letterh {
  text-align: 1;
  margin: -15px;
  font-size: 120px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.element {
  text-align: center;
  margin: 15px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hide3 {
  width: 250px;
  height: 230px;
  border: 3px solid rgba(214, 14, 14, 0.788);
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hide4 {
  display: none;
}

.myDIV4:hover + .hide4 {
  display: block;
  color: black;
}

.myDIV4 {
  width: 150px;
  height: 160px;
  border: 3px solid rgba(212, 6, 212, 0.822);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 20px 30px 40px;
  background-color: rgba(212, 5, 212, 0.788);
  margin-left: 250px;
  margin-top: -215px;
}

.first {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.letterh {
  text-align: 1;
  margin: -15px;
  font-size: 120px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.element {
  text-align: center;
  margin: 15px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hide4 {
  width: 250px;
  height: 230px;
  border: 3px solid rgba(214, 14, 14, 0.788);
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hide5 {
  display: none;
}

.myDIV5:hover + .hide5 {
  display: block;
  color: black;
}

.myDIV5 {
  width: 150px;
  height: 160px;
  border: 3px solid rgba(212, 6, 212, 0.822);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px 20px 30px 40px;
  background-color: rgba(212, 5, 212, 0.788);
  margin-left: 450px;
  margin-top: -215px;
}

.first {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.letterh {
  text-align: 1;
  margin: -15px;
  font-size: 120px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.element {
  text-align: center;
  margin: 15px;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hide5 {
  width: 250px;
  height: 230px;
  border: 3px solid rgba(214, 14, 14, 0.788);
  font-size: 14px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 450px;
}
