* {
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 200px;
  height: 200px;
  float: left;
  border: 3px solid blue;
  border-radius: 20px;
}
p number {
  font-size: 49px;
  text-align: center;
}
