* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.425);
}
header {
  width: 100vw;
  height: 20vw;
  background-color: indianred;
}
.img {
  width: 20%;
  height: 90%;
  margin-left: 3%;
  margin-top: 0.5%;
}
.links {
  display: inline-block;
  margin
}

.links a {
  font-size: 1.5rem;
  text-decoration:none;
  color:red;
  padding-right: 0.7rem;
  text-transform: uppercase;
  cursor:pointer;
  
}

.links a:hover {
padding: 0.5rem;
background-color: rgba(0, 102, 255, 0.747);
border-radius: 2px;

}
.links a:visited{
   padding: 0.5rem;
  background-color: rgb(239, 243, 9);
  border-radius: 2px;
}
.links a:active {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;

}
.first{
  float: left;
  width: 50%;
  height: 50%;
  margin-top: 150px;
  box-shadow: #fff,10px;
  border-radius:20px ;
  margin-left: 10%;
}
.second{
  display: block;
  float: right;
  clear: both;
  width: 50%;
  height: 50%;
  background-color:#fff;
  box-shadow: #000,500px;
  border-radius:10px ;
  margin-top: -150px;
  }

  .first h1{
    color: blue;
    font-size: 40px;
  }
.second input{
  background-color: rgba(20, 207, 220, 0.288);
  margin: auto;
  

}