* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 50rem;
  height: 40rem;
  background-color: rgb(57, 57, 189);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-auto-rows: 220px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.box1 {
  width: 250px;
  height: 50px;
  background-color: blueviolet;
}
.box1 {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
}
.box2 {
  width: 150px;
  height: 150px;
  background-color: rgb(196, 10, 10);
}
.box3 {
  width: 150px;
  height: 150px;
  background-color: rgb(226, 43, 128);
}
.box4 {
  width: 150px;
  height: 150px;
  background-color: rgb(226, 125, 43);
}
.box5 {
  width: 150px;
  height: 150px;
  background-color: rgb(131, 226, 43);
}
.box6 {
  width: 150px;
  height: 150px;
  background-color: rgb(43, 226, 104);
}
.box7 {
  width: 150px;
  height: 60px;
  background-color: rgb(43, 153, 226);
}
